@font-face {
	font-family: Arciform Sans;
	src: url("/static/fonts/Arciform.ttf") ;
  }
  
  .mediaViewInfo {
	--web-view-name: login_desktop;
	--web-view-id: login_desktop;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: login_desktop;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#login_desktop {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(238,230,67,1);
	overflow: hidden;
	--web-view-name: login_desktop;
	--web-view-id: login_desktop;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
#login-fundo {
	position: absolute;
	width: 2000.851px;
	height: 1079.801px;
	left: -40.426px;
	top: 0px;
	overflow: visible;
}
#circulo-elemento {
	fill: rgba(255,255,255,1);
}
.circulo-elemento {
	overflow: visible;
	position: absolute;
	width: 315.576px;
	height: 315.576px;
	left: 1477.845px;
	top: 744px;
	transform: matrix(1,0,0,1,0,0);
}
#circulo-elemento_t {
	fill: rgba(255,255,255,1);
}
.circulo-elemento_t {
	overflow: visible;
	position: absolute;
	width: 261.657px;
	height: 261.657px;
	left: 1000.426px;
	top: 744px;
	transform: matrix(1,0,0,1,0,0);
}
#circulo-elemento_u {
	fill: rgba(255,255,255,1);
}
.circulo-elemento_u {
	overflow: visible;
	position: absolute;
	width: 392.485px;
	height: 392.485px;
	left: 1323.112px;
	top: 74px;
	transform: matrix(1,0,0,1,0,0);
}
#retangulo-fundo {
	fill: rgba(9,78,147,1);
}
.retangulo-fundo {
	position: absolute;
	overflow: visible;
	width: 1155px;
	height: 670px;
	left: 423.426px;
	top: 204.829px;
}
#retangulo-menor {
	fill: rgba(7,69,131,1);
}
.retangulo-menor {
	position: absolute;
	overflow: visible;
	width: 1111px;
	height: 447px;
	left: 449.426px;
	top: 408.829px;
}
#separador {
	fill: rgba(9,78,147,1);
}
.separador {
	position: absolute;
	overflow: visible;
	width: 9px;
	height: 406px;
	left: 996.426px;
	top: 426.829px;
}
#circulo-elemento_y {
	fill: rgba(255,255,255,1);
}
.circulo-elemento_y {
	overflow: visible;
	position: absolute;
	width: 425.016px;
	height: 425.016px;
	left: 61.41px;
	top: 636.813px;
	transform: matrix(1,0,0,1,0,0);
}
#circulo-elemento_z {
	fill: rgba(255,255,255,1);
}
.circulo-elemento_z {
	overflow: visible;
	position: absolute;
	width: 183.776px;
	height: 183.776px;
	left: 449.896px;
	top: 96.881px;
	transform: matrix(1,0,0,1,0,0);
}
#shape-bottom {
	fill: rgba(255,255,255,1);
}
.shape-bottom {
	overflow: visible;
	position: absolute;
	width: 2000.851px;
	height: 150.801px;
	transform: translate(40.426px, -0.171px) matrix(1,0,0,1,-40.4255,929.1715) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#shape-top {
	fill: rgba(255,255,255,1);
}
.shape-top {
	overflow: visible;
	position: absolute;
	width: 2000.851px;
	height: 150.801px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#wrap-login-cliente {
	position: absolute;
	width: 547px;
	height: 379px;
	left: 413px;
	top: 450px;
	overflow: visible;
}
#Cliente {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 548px;
	height: 62px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#campos-login-cliente {
	position: absolute;
	width: 457px;
	height: 123px;
	left: 45px;
	top: 99px;
	overflow: visible;
}
#Telefone {
	opacity: 0.49;
	left: 22px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 413px;
	height: 39px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(140,140,140,1);
}
#Senha {
	opacity: 0.49;
	left: 22px;
	top: 78px;
	position: absolute;
	overflow: visible;
	width: 413px;
	height: 39px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(140,140,140,1);
}
#input-cleinte-2 {
	fill: rgba(255,255,255,0.941);
}
.input-cleinte-2 {
	position: absolute;
	overflow: visible;
	width: 457px;
	height: 52px;
	left: 0px;
	top: 71px;
}
#input-cliente-1 {
	fill: rgba(255,255,255,0.941);
}
.input-cliente-1 {
	position: absolute;
	overflow: visible;
	width: 457px;
	height: 52px;
	left: 0px;
	top: 0px;
}

#buttom-entrar-cliente {
	position: absolute;
	width: 457px;
	height: 52px;
	left: 45px;
	top: 270px;
	overflow: visible;
}
#buttom-fundo {
	fill: rgba(9,78,147,1);
	stroke: rgba(238,230,67,1);
	stroke-width: 8px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.buttom-fundo {
	position: absolute;
	overflow: visible;
	width: 457px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Entrar {
	left: 40px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 379px;
	height: 39px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
#No_foi_possvel_encontrar_uma_c {
	left: 45px;
	top: 339px;
	position: absolute;
	overflow: visible;
	width: 458px;
	height: 40px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16.5px;
	color: rgba(238,230,67,1);
}
#Esqueci_minha_senha {
	left: 327px;
	top: 230px;
	position: absolute;
	overflow: visible;
	width: 176px;
	height: 23px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(238,230,67,1);
}
#wrap-login-parceiro {
	position: absolute;
	width: 560px;
	height: 379px;
	left: 960px;
	top: 450px;
	overflow: visible;
}
#campos-login-parceiro {
	position: absolute;
	width: 429px;
	height: 123px;
	left: 59px;
	top: 99px;
	overflow: visible;
}
#E-mail {
	opacity: 0.49;
	left: 21px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 386px;
	height: 39px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(140,140,140,1);
}
#Senha_bj {
	opacity: 0.49;
	left: 21px;
	top: 78px;
	position: absolute;
	overflow: visible;
	width: 386px;
	height: 39px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(140,140,140,1);
}
#input-parceiro-1 {
	fill: rgba(255,255,255,0.941);
}
.input-parceiro-1 {
	position: absolute;
	overflow: visible;
	width: 429px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#input-parceiro-2 {
	fill: rgba(255,255,255,0.941);
}
.input-parceiro-2 {
	position: absolute;
	overflow: visible;
	width: 429px;
	height: 52px;
	left: 0px;
	top: 71px;
}
#buttom-entrar-parceiro {
	position: absolute;
	width: 429px;
	height: 52px;
	left: 59px;
	top: 270px;
	overflow: visible;
}
#buttom-fundo_bl {
	fill: rgba(9,78,147,1);
	stroke: rgba(238,230,67,1);
	stroke-width: 8px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.buttom-fundo_bl {
	position: absolute;
	overflow: visible;
	width: 429px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Entrar_bm {
	left: 40px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 351px;
	height: 39px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
#No_foi_possvel_encontrar_uma_c_bn {
	left: 59px;
	top: 339px;
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 40px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16.5px;
	color: rgba(238,230,67,1);
}
#Parceiro {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 548px;
	height: 62px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#title-logo {
	position: absolute;
	width: 732px;
	height: 182px;
	left: 594px;
	top: 215px;
	overflow: visible;
}
#logo {
	position: absolute;
	width: 133px;
	height: 133px;
	left: 300px;
	top: 0px;
	overflow: visible;
}
#texto-titulo {
	left: 0px;
	top: 133px;
	position: absolute;
	overflow: visible;
	width: 733px;
	height: 49px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}

.input-field {
	background-color: #fffffff0;
	position: absolute;
	overflow: visible;
    border-radius: 71px;
	padding: 5px 20px;
	font-size: 25px;
	width: 457px;
	height: 52px;
	left: 153px;
	top: 0px;
}

#input-telefone {

	width: 457px;
	height: 52px;
	left: 0px;
	top: 0px;
}

#input-email {
	width: 457px;
	height: 52px;
	left: 0px;
	top: 0px;
}

#input-password-client {

	width: 457px;
	height: 52px;
	left: 0px;
	top: 71px;
}

#input-password-partner {
	
	width: 457px;
	height: 52px;
	left: 0px;
	top: 71px;
}

.button {
	background-color: rgba(9,78,147,1);
	border: 8px solid rgba(238,230,67,1);
	color: white;
    font-family: Arciform Sans, "sans-serif";
    border-radius: 71px;
    cursor: pointer;
	position: absolute;
	overflow: visible;
	width: 457px;
	height: 56px;
	left: 0px;
	top: 0px;
	font-size: 32px;
	transition: all .2s;
  }
  
  .button:hover {
    border-color: rgba(9,78,147,1);
    background-color: rgba(238,230,67,1);
	color: rgba(9,78,147,1);
  }

  .error {
	  color:rgba(238,230,67,1);
  }

  a:link {
	text-decoration: none;
	color: rgba(238,230,67,1);
  }
  
  a:visited {
	text-decoration: none;
	color: rgba(238,230,67,1);
  }
  
  a:hover {
	text-decoration: underline;
	color: rgba(238,230,67,1);
  }
  
  a:active {
	text-decoration: underline;
	color: rgba(238,230,67,1);
  }