@font-face {
  font-family: Arciform Sans;
  src: url("/static/fonts/Arciform.ttf") ;
}

:root {
  --primary-color: #eee643;
  --secondary-color: #094e93;
  --secondary-color-dark: #074583;
}

* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
  border: none;
}


html {
  background-color: var(--primary-color);
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.shape-top {
    /* position: absolute; */
    fill: white;
}

.shape-bottom {
    /* position: absolute; */
    fill: white;
    transform: rotate(180deg);
}

.container {
  display: flex;
  margin: auto;
  flex-direction: column;
  background-color: var(--secondary-color);
  padding: 8px;
  border-radius: 71px;
  max-width: 60%;
  width: auto;
  
}

.container-titulo {
  text-align: center;
  color: white;
  max-width: 100%;
  margin-bottom: 1rem;
}

.container-titulo img {
    width: 12%;
}

.container-titulo h1 {
    margin-top: -5px;  
    font-size: 24px;
    font-weight: normal;
    font-family: Arciform Sans, "sans-serif";
}

.container-forms {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--secondary-color-dark);
  border-radius: 71px;
  padding: 10px 20px;
  margin: 0 10px 10px;
}

.container-forms form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    align-items: space-between;
    margin: 0 15px;
}

.container-forms form h2 {
  font-size: 42px;
  font-weight: normal;
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
  font-family: Arciform Sans, "sans-serif";
}

.container-forms form a p {
    text-align: right;
    font-family: Arciform Sans, "sans-serif";
    font-size: 18px;
    margin-bottom: 15px;
    
}

/* .container-forms form button {
  margin-left: auto;
} */

/* Global */

.input-field {
    max-width: 100%;
    background-color: #fffffff0;
    border-radius: 71px;
    font-size: 25px;
    padding: 5px 20px;
    margin-bottom: 15px;
    height: 52px;
    /* width: 50%; */
}

/* .input-field label {
  white-space: nowrap;
  color: white;
  font-family: Arciform Sans, "sans-serif";
  text-align: right;
  margin-right: 5px;
} */

/* #input-telefone {
    width: 100%;
} */

.button {
  background-color: var(--secondary-color);
  border: 8px solid var(--primary-color);
  /* padding: 4px 8px; */
  color: white;
  font-family: Arciform Sans, "sans-serif";
  font-size: 32px;
  border-radius: 71px;
  cursor: pointer;
  transition: all .2s;
  height: 56px;
}

.button:hover {
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.button:active {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color)
}

a:link {
	text-decoration: none;
	color: rgba(238,230,67,1);
}
  
  a:visited {
	text-decoration: none;
	color: rgba(238,230,67,1);
}
  
  a:hover {
	text-decoration: underline;
	color: rgba(238,230,67,1);
}
  
  a:active {
	text-decoration: underline;
	color: rgba(238,230,67,1);
}


.logo {
  max-width: 100%;
  height: auto;
}

.hide {
    visibility: hidden;
}

.separador {
    display: flex;
    width: 15%;
    justify-content: center;
}

#separador-svg {
    width: 20%;
}
#separador {
    fill: var(--secondary-color);
    height: 230%;
}