.mediaViewInfo {
	--web-view-name: Versão 1 – Área do Parceiro > Cliente;
	--web-view-id: Verso_1__rea_do_Parceiro__Cliente;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Verso_1__rea_do_Parceiro__Cliente;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Verso_1__rea_do_Parceiro__Cliente {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(238,230,67,1);
	overflow: hidden;
	--web-view-name: Versão 1 – Área do Parceiro > Cliente;
	--web-view-id: Verso_1__rea_do_Parceiro__Cliente;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
#elemento {
	fill: rgba(255,255,255,1);
}
.elemento {
	overflow: visible;
	position: absolute;
	width: 261.657px;
	height: 261.657px;
	left: 1189.243px;
	top: 744.171px;
	transform: matrix(1,0,0,1,0,0);
}
#elemento_s {
	fill: rgba(255,255,255,1);
}
.elemento_s {
	overflow: visible;
	position: absolute;
	width: 392.485px;
	height: 392.485px;
	left: 993px;
	top: 74.171px;
	transform: matrix(1,0,0,1,0,0);
}
#Retngulo_1 {
	fill: rgba(9,78,147,1);
}
.Retngulo_1 {
	position: absolute;
	overflow: visible;
	width: 1155px;
	height: 670px;
	left: 383px;
	top: 205px;
}
#Retngulo_2 {
	fill: rgba(7,69,131,1);
}
.Retngulo_2 {
	position: absolute;
	overflow: visible;
	width: 1111px;
	height: 629px;
	left: 405px;
	top: 226px;
}
#elemento_v {
	fill: rgba(255,255,255,1);
}
.elemento_v {
	overflow: visible;
	position: absolute;
	width: 425.016px;
	height: 425.016px;
	left: 0px;
	top: 636.984px;
	transform: matrix(1,0,0,1,0,0);
}
#rea_do_Parceiro {
	left: 447px;
	top: 248px;
	position: absolute;
	overflow: visible;
	width: 322px;
	height: 55px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(255,255,255,1);
}
#Grupo_de_mscara_1 {
	position: absolute;
	width: 2000.851px;
	height: 150.801px;
	left: -40.426px;
	top: 929px;
	overflow: visible;
}
#Grupo_de_mscara_2 {
	position: absolute;
	width: 2000.851px;
	height: 150.801px;
	left: -40.425px;
	top: 0px;
	overflow: visible;
}
#elemento_z {
	fill: rgba(255,255,255,1);
}
.elemento_z {
	overflow: visible;
	position: absolute;
	width: 183.776px;
	height: 183.776px;
	left: 196.963px;
	top: 97.053px;
	transform: matrix(1,0,0,1,0,0);
}
#Histrico_do_Parceiro {
	left: 1126px;
	top: 264px;
	position: absolute;
	overflow: visible;
	width: 283px;
	height: 33px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(7,69,131,1);
}
#Sair {
	left: 447px;
	top: 297px;
	position: absolute;
	overflow: visible;
	width: 299px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(238,230,67,1);
}
#Grupo_8 {
	position: absolute;
	width: 1067px;
	height: 496px;
	left: 425px;
	top: 339px;
	overflow: visible;
}
#Retngulo_6 {
	fill: rgba(6,53,101,1);
}
.Retngulo_6 {
	position: absolute;
	overflow: visible;
	width: 1067px;
	height: 496px;
	left: 0px;
	top: 0px;
}
#Grupo_17 {
	position: absolute;
	width: 387px;
	height: 496px;
	left: 1105px;
	top: 248px;
	overflow: visible;
}
#Retngulo_6_ {
	fill: rgba(6,53,101,1);
}
.Retngulo_6_ {
	position: absolute;
	overflow: visible;
	width: 387px;
	height: 496px;
	left: 0px;
	top: 0px;
}
#elemento_ {
	fill: rgba(255,255,255,1);
}
.elemento_ {
	overflow: visible;
	position: absolute;
	width: 315.576px;
	height: 315.576px;
	left: 1465.42px;
	top: 300.171px;
	transform: matrix(1,0,0,1,0,0);
}
#Retngulo_10 {
	fill: rgba(7,69,131,1);
}
.Retngulo_10 {
	position: absolute;
	overflow: visible;
	width: 96px;
	height: 80px;
	left: 1408px;
	top: 235px;
}
#Logo_-_Vetorizada-01 {
	position: absolute;
	width: 63px;
	height: 63px;
	left: 1429px;
	top: 245px;
	overflow: visible;
}
#Histrico_do_Cliente {
	left: 1126px;
	top: 264px;
	position: absolute;
	overflow: visible;
	width: 283px;
	height: 33px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(240,243,246,1);
}
#Cliente {
	left: 447px;
	top: 360px;
	position: absolute;
	overflow: visible;
	width: 150px;
	height: 43px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#CPF {
	left: 447px;
	top: 481px;
	position: absolute;
	overflow: visible;
	width: 73px;
	height: 43px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#n__999999-9 {
	left: 525px;
	top: 481px;
	position: absolute;
	overflow: visible;
	width: 488px;
	height: 43px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Telefone {
	left: 447px;
	top: 524px;
	position: absolute;
	overflow: visible;
	width: 157px;
	height: 43px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#n_1_99999-9999 {
	left: 596px;
	top: 524px;
	position: absolute;
	overflow: visible;
	width: 488px;
	height: 43px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Usurio {
	left: 447px;
	top: 395px;
	position: absolute;
	overflow: visible;
	width: 275px;
	height: 86px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(255,255,255,1);
}
#Cupons {
	left: 447px;
	top: 567px;
	position: absolute;
	overflow: visible;
	width: 157px;
	height: 43px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#n_2 {
	left: 577px;
	top: 567px;
	position: absolute;
	overflow: visible;
	width: 488px;
	height: 43px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Quantidade {
	left: 451px;
	top: 678px;
	position: absolute;
	overflow: visible;
	width: 209px;
	height: 49px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Retngulo_5 {
	fill: rgba(255,255,255,0.941);
}
.Retngulo_5 {
	position: absolute;
	overflow: visible;
	width: 117px;
	height: 34px;
	left: 672px;
	top: 690px;
}
#Grupo_6 {
	position: absolute;
	width: 174px;
	height: 52px;
	left: 447px;
	top: 742px;
	overflow: visible;
}
#Grupo_1 {
	position: absolute;
	width: 173px;
	height: 52px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Retngulo_6_bm {
	fill: rgba(32,206,119,1);
	stroke: rgba(238,230,67,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_6_bm {
	position: absolute;
	overflow: visible;
	width: 173px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Adicionar {
	left: 0px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 175px;
	height: 30px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Grupo_18 {
	position: absolute;
	width: 174px;
	height: 52px;
	left: 615px;
	top: 742px;
	overflow: visible;
}
#Grupo_1_bp {
	position: absolute;
	width: 173px;
	height: 52px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Retngulo_6_bq {
	fill: rgba(206,32,49,1);
	stroke: rgba(238,230,67,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_6_bq {
	position: absolute;
	overflow: visible;
	width: 173px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Remover {
	left: 0px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 175px;
	height: 30px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Grupo_19 {
	position: absolute;
	width: 613px;
	height: 35px;
	left: 451px;
	top: 632px;
	overflow: visible;
}
#Por_favor_digite_quantidade_de {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 614px;
	height: 35px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(255,255,255,1);
}
#Grupo_6_bu {
	position: absolute;
	width: 150px;
	height: 34px;
	left: 955px;
	top: 365px;
	overflow: visible;
}
#Grupo_1_bv {
	position: absolute;
	width: 150px;
	height: 34px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Retngulo_6_bw {
	fill: rgba(9,78,147,1);
	stroke: rgba(238,230,67,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_6_bw {
	position: absolute;
	overflow: visible;
	width: 150px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#Voltar {
	left: 49px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Grupo_29 {
	position: absolute;
	width: 388px;
	height: 438px;
	left: 1112px;
	top: 360px;
	overflow: visible;
}
#Grupo_28 {
	position: absolute;
	width: 388px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_23 {
	position: absolute;
	width: 295px;
	height: 100px;
	left: 93px;
	top: 0px;
	overflow: visible;
}
#Marcelo_-_IDP02 {
	left: 82px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(238,230,67,1);
}
#n_9042022 {
	left: 0px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(238,230,67,1);
}
#n_63312 {
	left: 23px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(238,230,67,1);
}
#n_3 {
	left: 64px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(238,230,67,1);
}
#Adicionados {
	left: 183px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(32,206,119,1);
}
#Grupo_22 {
	position: absolute;
	width: 175px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Atualizado_por_ {
	left: 43px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Data {
	left: 43px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Horrio {
	left: 43px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Quantidade_ca {
	left: 43px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 112px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Text {
	left: 0px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 44px;
	height: 38px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Grupo_27 {
	position: absolute;
	width: 387px;
	height: 100px;
	left: 1px;
	top: 169px;
	overflow: visible;
}
#Grupo_24 {
	position: absolute;
	width: 295px;
	height: 100px;
	left: 92px;
	top: 0px;
	overflow: visible;
}
#Luiz_-_IDP43 {
	left: 82px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(238,230,67,1);
}
#n_4042022 {
	left: 0px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(238,230,67,1);
}
#n_21342 {
	left: 23px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(238,230,67,1);
}
#n_0 {
	left: 64px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(238,230,67,1);
}
#Removidos {
	left: 182px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(206,32,49,1);
}
#Grupo_21 {
	position: absolute;
	width: 174px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Atualizado_por__ck {
	left: 42px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Data_cl {
	left: 42px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Horrio_cm {
	left: 42px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Quantidade_cn {
	left: 42px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 112px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Text_co {
	left: 0px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 44px;
	height: 38px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Grupo_26 {
	position: absolute;
	width: 388px;
	height: 100px;
	left: 0px;
	top: 338px;
	overflow: visible;
}
#Grupo_25 {
	position: absolute;
	width: 295px;
	height: 100px;
	left: 93px;
	top: 0px;
	overflow: visible;
}
#Joo_-_IDP41 {
	left: 82px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(238,230,67,1);
}
#n_1042022 {
	left: 0px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(238,230,67,1);
}
#n_94302 {
	left: 23px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(238,230,67,1);
}
#n_7 {
	left: 64px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(238,230,67,1);
}
#Adicionados_cv {
	left: 180px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 25px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(32,206,119,1);
}
#Grupo_20 {
	position: absolute;
	width: 175px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Atualizado_por__cx {
	left: 43px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Data_cy {
	left: 43px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Horrio_cz {
	left: 43px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Quantidade_c {
	left: 43px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 112px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Text_c {
	left: 0px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 44px;
	height: 38px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#IDC_12 {
	left: 672px;
	top: 444px;
	position: absolute;
	overflow: visible;
	width: 59px;
	height: 19px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(238,230,67,1);
}