.mediaViewInfo {
	--web-view-name: Versão 1 – Área do Cliente;
	--web-view-id: Verso_1__rea_do_Cliente;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Verso_1__rea_do_Cliente;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Verso_1__rea_do_Cliente {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(238,230,67,1);
	overflow: hidden;
	--web-view-name: Versão 1 – Área do Cliente;
	--web-view-id: Verso_1__rea_do_Cliente;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
#elemento {
	fill: rgba(255,255,255,1);
}
.elemento {
	overflow: visible;
	position: absolute;
	width: 261.657px;
	height: 261.657px;
	left: 1189.243px;
	top: 744.171px;
	transform: matrix(1,0,0,1,0,0);
}
#elemento_s {
	fill: rgba(255,255,255,1);
}
.elemento_s {
	overflow: visible;
	position: absolute;
	width: 392.485px;
	height: 392.485px;
	left: 993px;
	top: 74.171px;
	transform: matrix(1,0,0,1,0,0);
}
#Retngulo_1 {
	fill: rgba(9,78,147,1);
}
.Retngulo_1 {
	position: absolute;
	overflow: visible;
	width: 1155px;
	height: 670px;
	left: 383px;
	top: 205px;
}
#Retngulo_2 {
	fill: rgba(7,69,131,1);
}
.Retngulo_2 {
	position: absolute;
	overflow: visible;
	width: 1111px;
	height: 629px;
	left: 405px;
	top: 226px;
}
#elemento_v {
	fill: rgba(255,255,255,1);
}
.elemento_v {
	overflow: visible;
	position: absolute;
	width: 425.016px;
	height: 425.016px;
	left: 0px;
	top: 636.984px;
	transform: matrix(1,0,0,1,0,0);
}
#elemento_w {
	fill: rgba(255,255,255,1);
}
.elemento_w {
	overflow: visible;
	position: absolute;
	width: 315.576px;
	height: 315.576px;
	left: 1465.42px;
	top: 300.171px;
	transform: matrix(1,0,0,1,0,0);
}
#rea_do_Cliente {
	left: 447px;
	top: 248px;
	position: absolute;
	overflow: visible;
	width: 548px;
	height: 55px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(255,255,255,1);
}
#Grupo_de_mscara_1 {
	position: absolute;
	width: 2000.851px;
	height: 150.801px;
	left: -40.426px;
	top: 929px;
	overflow: visible;
}
#Grupo_de_mscara_2 {
	position: absolute;
	width: 2000.851px;
	height: 150.801px;
	left: -40.426px;
	top: 0px;
	overflow: visible;
}
#elemento_ {
	fill: rgba(255,255,255,1);
}
.elemento_ {
	overflow: visible;
	position: absolute;
	width: 183.776px;
	height: 183.776px;
	left: 196.963px;
	top: 97.053px;
	transform: matrix(1,0,0,1,0,0);
}
#Retngulo_9 {
	fill: rgba(255,255,255,1);
}
.Retngulo_9 {
	position: absolute;
	overflow: visible;
	width: 410px;
	height: 590px;
	left: 1090px;
	top: 245px;
}
#Retngulo_10 {
	fill: rgba(7,69,131,1);
}
.Retngulo_10 {
	position: absolute;
	overflow: visible;
	width: 96px;
	height: 80px;
	left: 1408px;
	top: 235px;
}
#Logo_-_Vetorizada-01 {
	position: absolute;
	width: 63px;
	height: 63px;
	left: 1429px;
	top: 245px;
	overflow: visible;
}
#Ol_Usurio_ {
	left: 447px;
	top: 332px;
	position: absolute;
	overflow: visible;
	width: 548px;
	height: 86px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	color: rgba(255,255,255,1);
}
#Grupo_7 {
	position: absolute;
	width: 344px;
	height: 64px;
	left: 447px;
	top: 494px;
	overflow: visible;
}
#Voc_possui {
	left: 0px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 142px;
	height: 33px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#n_2 {
	left: 145px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 52px;
	color: rgba(238,230,67,1);
}
#cupons {
	left: 203px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 142px;
	height: 33px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Grupo_6 {
	position: absolute;
	width: 220px;
	height: 52px;
	left: 425px;
	top: 594px;
	overflow: visible;
}
#Grupo_1 {
	position: absolute;
	width: 220px;
	height: 52px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Retngulo_6 {
	fill: rgba(6,53,101,1);
}
.Retngulo_6 {
	position: absolute;
	overflow: visible;
	width: 220px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Como_posso_usar {
	left: 25px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Grupo_9 {
	position: absolute;
	width: 220px;
	height: 52px;
	left: 646px;
	top: 594px;
	overflow: visible;
}
#Grupo_1_be {
	position: absolute;
	width: 220px;
	height: 52px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Retngulo_6_bf {
	fill: rgba(7,88,169,1);
}
.Retngulo_6_bf {
	position: absolute;
	overflow: visible;
	width: 220px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Como_ganho_mais {
	left: 20px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255,255,255,1);
}
#Grupo_8 {
	position: absolute;
	width: 639px;
	height: 191px;
	left: 425px;
	top: 644px;
	overflow: visible;
}
#Retngulo_6_bi {
	fill: rgba(6,53,101,1);
}
.Retngulo_6_bi {
	position: absolute;
	overflow: visible;
	width: 639px;
	height: 191px;
	left: 0px;
	top: 0px;
}
#Com_seus_cupons_voc_pode {
	left: 447px;
	top: 656px;
	position: absolute;
	overflow: visible;
	width: 481px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_Trocar_10_cupons_por_10_de_d {
	left: 447px;
	top: 688px;
	position: absolute;
	overflow: visible;
	width: 481px;
	height: 52px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#n_Trocar_50_cupons_por_10_de_d {
	left: 447px;
	top: 750px;
	position: absolute;
	overflow: visible;
	width: 481px;
	height: 52px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Seu_Histrico {
	left: 1126px;
	top: 264px;
	position: absolute;
	overflow: visible;
	width: 283px;
	height: 33px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(7,69,131,1);
}
#Grupo_16 {
	position: absolute;
	width: 388px;
	height: 438px;
	left: 1112px;
	top: 360px;
	overflow: visible;
}
#Linha_1 {
	fill: transparent;
	stroke: rgba(0,0,0,0.341);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Linha_1 {
	overflow: visible;
	position: absolute;
	width: 305px;
	height: 1px;
	left: 43.5px;
	top: 131.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Linha_2 {
	fill: transparent;
	stroke: rgba(0,0,0,0.341);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Linha_2 {
	overflow: visible;
	position: absolute;
	width: 305px;
	height: 1px;
	left: 43.5px;
	top: 300.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_15 {
	position: absolute;
	width: 388px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Grupo_10 {
	position: absolute;
	width: 345px;
	height: 100px;
	left: 43px;
	top: 0px;
	overflow: visible;
}
#Atualizado_por_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,69,131,1);
}
#Marcelo_-_IDP02 {
	left: 132px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,7,7,1);
}
#Data {
	left: 0px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,69,131,1);
}
#n_9042022 {
	left: 50px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,7,7,1);
}
#Horrio {
	left: 0px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,69,131,1);
}
#n_63312 {
	left: 73px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,7,7,1);
}
#Quantidade {
	left: 0px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 112px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,69,131,1);
}
#n_3 {
	left: 114px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,7,7,1);
}
#Adicionados {
	left: 140px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(32,206,119,1);
}
#Text {
	left: 0px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 44px;
	height: 38px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(7,69,131,1);
}
#Grupo_14 {
	position: absolute;
	width: 387px;
	height: 100px;
	left: 1px;
	top: 169px;
	overflow: visible;
}
#Grupo_11 {
	position: absolute;
	width: 345px;
	height: 100px;
	left: 42px;
	top: 0px;
	overflow: visible;
}
#Atualizado_por__b {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,69,131,1);
}
#Luiz_-_IDP43 {
	left: 132px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,7,7,1);
}
#Data_b {
	left: 0px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,69,131,1);
}
#n_4042022 {
	left: 50px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,7,7,1);
}
#Horrio_b {
	left: 0px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,69,131,1);
}
#n_21342 {
	left: 73px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,7,7,1);
}
#Quantidade_ca {
	left: 0px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 112px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,69,131,1);
}
#n_0 {
	left: 114px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,7,7,1);
}
#Removidos {
	left: 140px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(206,32,49,1);
}
#Text_cd {
	left: 0px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 44px;
	height: 38px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(7,69,131,1);
}
#Grupo_13 {
	position: absolute;
	width: 388px;
	height: 100px;
	left: 0px;
	top: 338px;
	overflow: visible;
}
#Grupo_12 {
	position: absolute;
	width: 345px;
	height: 100px;
	left: 43px;
	top: 0px;
	overflow: visible;
}
#Atualizado_por__cg {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 133px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,69,131,1);
}
#Joo_-_IDP41 {
	left: 132px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,7,7,1);
}
#Data_ci {
	left: 0px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,69,131,1);
}
#n_1042022 {
	left: 50px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,7,7,1);
}
#Horrio_ck {
	left: 0px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 74px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,69,131,1);
}
#n_94302 {
	left: 73px;
	top: 50px;
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,7,7,1);
}
#Quantidade_cm {
	left: 0px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 112px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,69,131,1);
}
#n_7 {
	left: 114px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 22px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(7,7,7,1);
}
#Adicionados_co {
	left: 137px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 25px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(32,206,119,1);
}
#Text_cp {
	left: 0px;
	top: 31px;
	position: absolute;
	overflow: visible;
	width: 44px;
	height: 38px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(7,69,131,1);
}
#Grupo_6_cq {
	position: absolute;
	width: 212px;
	height: 34px;
	left: 858px;
	top: 261px;
	overflow: visible;
}
#Grupo_1_cr {
	position: absolute;
	width: 212px;
	height: 34px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Retngulo_6_cs {
	fill: rgba(9,78,147,1);
	stroke: rgba(238,230,67,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_6_cs {
	position: absolute;
	overflow: visible;
	width: 212px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#Inserir_Cdigo_promocional {
	left: 1px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 212px;
	height: 18px;
	text-align: center;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Sair {
	left: 447px;
	top: 297px;
	position: absolute;
	overflow: visible;
	width: 299px;
	height: 25px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(238,230,67,1);
}
#CPF {
	left: 447px;
	top: 434px;
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 30px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#n__999999-9 {
	left: 504px;
	top: 434px;
	position: absolute;
	overflow: visible;
	width: 317px;
	height: 30px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Telefone {
	left: 447px;
	top: 469px;
	position: absolute;
	overflow: visible;
	width: 102px;
	height: 30px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#n_1_99999-9999 {
	left: 558px;
	top: 469px;
	position: absolute;
	overflow: visible;
	width: 317px;
	height: 30px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Alterar {
	left: 733px;
	top: 480px;
	position: absolute;
	overflow: visible;
	width: 59px;
	height: 19px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(238,230,67,1);
}
#IDC_02 {
	left: 816px;
	top: 385px;
	position: absolute;
	overflow: visible;
	width: 59px;
	height: 19px;
	text-align: left;
	font-family: Arciform Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(238,230,67,1);
}