<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="../static/css/cadastro.css"/>
</head>
<body>
    <div class="container">
        <form method="post">
            <div class="input-group">
                <label for="partner">Parceiro</label>
                <input type="text" name="partner" id="partner" class="input-field" placeholder="Loja" required>

                <label for="name">Nome completo</label>
                <input type="text" name="name" id="name" class="input-field" placeholder="Nome do Cliente" required>

                <label for="cpf">CPF</label>
                <input type="text" name="cpf" id="cpf" class="input-field" placeholder="xxx.xxx.xxx-xx" required>

                <label for="phone">Telefone</label>
                <input type="text" name="phone" id="phone" class="input-field" placeholder="xx xxxxx-xxxx" required>

                <label for="password">Senha</label>
                <input type="password" name="password" id="password" class="input-field" required>
            </div>
        </form>
    </div>
</body>
</html>