<html>
    <head>
        <title>Cupons - Bapka Sorvetes</title>
    </head>

    <body>

        <h3>Bapka Sorvetes</h3>
        <div>
            <p>Faça login usando seu e-mail e senha</p>
        </div>
        <form method="post">
            <label for="email">E-Mail:</label>
            <input type="text" id="email" name="email">
            <!-- <br> -->
            <label for="password">Senha:</label>
            <input type="text" id="password" name="password">
            <input type="submit" value="Entrar" name="to_panel"/>
        </form>
        <div>
            <p>{{error}}</p>
        </div>        
        
    </body>
</html>
