<html>
    <head>
        <title>Cupons - Bapka Sorvetes</title>
    </head>

    <body>

        <h1>Bapka Sorvetes - Parceiro</h1>
        <div>
            <a href="/funcionario/login/"><button>Deslogar</button></a>
        </div>
        <div>
            <h1>Digite o CPF do cliente</h1>
        </div>
        <form method="post">
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" placeholder="123.456.789-01" required autofocus>
            <input type="submit" value="OK" name="to_panel"/>
        </form>
        <div>
            <h1>{{error}}</h1>
        </div>
        
    </body>
</html>

    