<html>
    <head>
        <title>Cupons - Bapka Sorvetes</title>
    </head>

    <body>

        <h1>Bapka Sorvetes - Cliente</h1>
        <div>
            <h1>Faça login usando seu e-mail e senha</h1>
        </div>
        <form method="post">
            <table>
                <tr>
                    <td>
                        <label for="telefone">Telefone:</label>
                    </td>
                    <td>
                        <input type="text" id="telefone" name="telefone" placeholder="41 988776655" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Senha:</label>
                    </td>
                    <td>
                        <input type="password" id="password" name="password" placeholder="1234" required>
                    </td>
                </tr>
            </table>
            
            <input type="submit" value="Entrar" name="to_panel"/>
        </form>
        <div>
            <h1>{{error}}</h1>
        </div>        
        
    </body>
</html>
