<html>
    <head>
        <title>Cupons - Bapka Sorvetes</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>

    <body>

        <h3>Bapka Sorvetes - Parceiro</h3>
        <div>
            <p>Faça login usando seu e-mail e senha</p>
        </div>
        <form method="post">
            <table>
                <tr>
                    <td>
                        <label for="email">E-Mail:</label>
                    </td>
                    <td>
                        <input type="email" id="email" name="email" placeholder="parceiro@bapka.com.br" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Senha:</label>
                    </td>
                    <td>
                        <input type="password" id="password" name="password" placeholder="1234" required>
                    </td>
                </tr>
            </table>
            
            <input type="submit" value="Entrar" name="to_panel"/>
        </form>
        <div>
            <p class="error">{{error}}</p>
        </div>
        
    </body>
</html>
