<html>
    <head>
        <title>Cupons - Bapka Sorvetes</title>
        <style>
            nav {
                float: left;
                width: 30%;
            }
            table {
                float: left;
            }
            section::after {
                content: "";
                display: table;
                clear: both;
            }
        </style>
    </head>

    <body>

        <h3>Bapka Sorvetes - Funcionário</h3>
        <!-- client's data panel -->
        <!-- button VOLTAR -->
        <div>
            <a href="/funcionario/home/?employee={{employee_id}}" >
                <button>Voltar</button>
            </a>
        </div>
        <section>
            <h2>Cliente:</h2>
            <table>
                <tr>
                    <td><h2>Nome: </h2></td>
                    <td><h2>{{name}}</h2></td>
                </tr>
                <tr>
                    <td><h2>CPF: </h2></td>
                    <td><h2>{{cpf}}</h2></td>
                </tr>
                <tr>
                    <td><h2>E-mail: </h2></td>
                    <td><h2>{{email}}</h2></td>
                </tr>
                <tr>
                    <td><h2>Cupons: </h2></td>
                    <td><h2>{{cupons}}</h2></td>
                </tr>
            </table>
            <nav>
                <script>
                    alert( '{{historico}}' )
                </script>
                <a href=""><button>Histórico</button></a>
            </nav>
        </section>
        
        
        
        
        
        <form method="post">
            <label for="quantity">Quantidade:</label>
            <input type="number" id="quantity" name="quantity" min="1" max="5" value="1" required>
            <input type="submit" value="Inserir Cupom" name="insert_coupon"/>
            <input type="submit" value="Remover Cupom" name="remove_coupon"/>
        </form>
        
    </body>
</html>
    
    <!-- <script>
        alert('{{employee_id}}')
    </script> -->