<html>
    <head>
        <title>Cupons - Bapka Sorvetes</title>
        <style>
            nav {
                float: left;
                width: 30%;
            }
            table {
                float: left;
            }
            section::after {
                content: "";
                display: table;
                clear: both;
            }
        </style>
    </head>

    <body>

        <h1>Bapka Sorvetes - Parceiro</h1>
        <!-- client's data panel -->
        <!-- button VOLTAR -->
        <div>
            <a href="/funcionario/home/?employee={{employee_id}}" >
                <button>Voltar</button>
            </a>
        </div>
        <section>
            <h1>Cliente:</h1>
            <table>
                <tr>
                    <td><h1>Nome: </h1></td>
                    <td><h1>{{name}}</h1></td>
                </tr>
                <tr>
                    <td><h1>CPF: </h1></td>
                    <td><h1>{{cpf}}</h1></td>
                </tr>
                <tr>
                    <td><h1>Telefone: </h1></td>
                    <td><h1>{{telefone}}</h1></td>
                </tr>
                <tr>
                    <td><h1>Cupons: </h1></td>
                    <td><h1>{{cupons}}</h1></td>
                </tr>
            </table>
            <nav>
                <script>
                    const history_json = '{{history}}';
                    const history = JSON.parse(history_json);
                </script>
                <a href=""><button>Histórico</button></a>
            </nav>
        </section>
        
        
        
        
        
        <form method="post">
            <label for="quantity">Quantidade:</label>
            <input type="number" id="quantity" name="quantity" min="1" max="5" value="1" required>
            <input type="submit" value="Inserir Cupom" name="insert_coupon"/>
            <input type="submit" value="Remover Cupom" name="remove_coupon"/>
        </form>
        
    </body>
</html>
    
    <!-- <script>
        alert('{{employee_id}}')
    </script> -->