<html>
    <head>
        <title>Cupons - Bapka Sorvetes</title>
    </head>

    <body>

        <h3>Bapka Sorvetes - Funcionário</h3>
        <!-- client's data panel -->
        <!-- button VOLTAR -->
        <div>
            <a href="/funcionario/home/?employee={{employee_id}}" >
                <button>Voltar</button>
            </a>
        </div>
        <h2>Cliente:</h2>
        <h2>Nome: {{name}}</h2>
        <h2>CPF: {{cpf}}</h2>
        <h2>E-mail: {{email}}</h2>
        <h2>Cupons: {{cupons}}</h2>
        <form method="post">
            <label for="quantity">Quantidade:</label>
            <input type="number" id="quantity" name="quantity" min="1" max="5" value="1" required>
            <input type="submit" value="Inserir Cupom" name="insert_coupon"/>
            <input type="submit" value="Remover Cupom" name="remove_coupon"/>
        </form>
        
    </body>
</html>
    
    <!-- <script>
        alert('{{employee_id}}')
    </script> -->